@media (max-width:768px) {
    .review {
        &__inner {
            width: 500px;
        }
        &__descr {
            font-size: 12px;
        }
        .slick-prev, .slick-next {
            position: absolute;
            top: 30%;
            transform: translateY(-50%);
            left: 150px;
            right: auto;
            img {
                width: 14px;
                height: 46px;
            }
        }
            .slick-next {
                right: 150px;
                left: auto;
            }
        }
}

@media (max-width: 576px) {
    .review {
        &__inner {
            width: 300px;
        }
        &__descr {
            font-size: 12px;
        }
        .slick-prev, .slick-next {
            position: absolute;
            top: 25%;
            transform: translateY(-50%);
            left: 50px;
            right: auto;
            img {
                width: 14px;
                height: 46px;
            }
        }
            .slick-next {
                right: 50px;
                left: auto;
            }
        }
    }
